
<% @posts.each do |post|%>

  <div class="well span8">
  	<h4><%= link_to post.title, fix_url(post.url) %></h4>	
  	<%= post.description %>
  	<br/>
    <%= link_to("#{post.comments.size} comments", post_path(post)) %> 
    <br/>
    posted by Neil at <%= post.created_at %> 
  </div>



<% end %>

